@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 16px;
	color: $black;
}

body {
	font-family: 'PT Sans', 'Arial', sans-serif;
	min-width: 320px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.container {
	@include min-max(320px, 1140px, 0);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	background-color: $white;
}

.wrap {
	@include min-max(320px, 1140px, 15px);
}

.hidden {
	@include visually-hidden();
}