.main {
    background-color: $mainBg;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__content {
        order: 1;
    }

    &__slider {
        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .glide__bullets {
            display: none;
        }
    }

    &__sidebar {
        order: 2;
    }

    &__list {
        display: none;
        background-color: $white;
        margin-bottom: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            padding: 10px 0 10px 25px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.16);

            &:last-child {
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }

        a {
            color: $topRed;
            text-decoration: none;
            font-size: px-to-rem(14px);
            line-height: px-to-rem(16px);
        }
    }

    &__collapse {
        margin-bottom: 8px;
        position: relative;
        width: 100%;
        background-color: $white;
        border: none;
        padding: 10px 0 10px 60px;
        text-align: left;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        font-size: px-to-rem(14px);
        line-height: px-to-rem(16px);

        &::before {
            content: '';
            position: absolute;
            background-size: 25px 25px;
            width: 25px;
            height: 25px;
        }

        &::after {
            content: '';
            background: url('../img/caret-icon.svg') no-repeat;
            position: absolute;
            background-size: 10px 10px;
            width: 10px;
            height: 10px;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            transition-duration: 200ms;
            transition-property: transform;
        }

        &:focus {
            outline: none;
        }

        &--active {
            margin-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    &__collapse-auto {
        &::before {
            background: url('../img/auto-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-25%);
        }
    }

    &__collapse-factory {
        &::before {
            background: url('../img/tube-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-repair {
        &::before {
            background: url('../img/roller-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-house {
        &::before {
            background: url('../img/house-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-gear {
        &::before {
            background: url('../img/gear-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-zoo {
        &::before {
            background: url('../img/zoo-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-travel {
        &::before {
            background: url('../img/travel-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-tent {
        &::before {
            background: url('../img/tent-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-kids {
        &::before {
            background: url('../img/stroller-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-oven {
        &::before {
            background: url('../img/oven-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__collapse-tech {
        &::before {
            background: url('../img/laptop-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link {
        background-color: $white;
        margin-bottom: 8px;
        padding: 10px 0 10px 60px;
        text-align: left;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-size: 25px 25px;
            width: 25px;
            height: 25px;
        }

        a {
            font-size: px-to-rem(14px);
            line-height: px-to-rem(16px);
            color: $black;
            text-decoration: none;
        }
    }

    &__links-desktop {
        display: none;
    }

    &__link-travel {
        &::before {
            background: url('../img/travel-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-discount {
        &::before {
            background: url('../img/percent-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-sale {
        &::before {
            background: url('../img/sale-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-rouble {
        &::before {
            background: url('../img/ruble-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link--red {
        a {
            color: $topRed;
        }
    }

    &__link-auto {
        &::before {
            background: url('../img/auto-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-25%);
        }
    }

    &__link-factory {
        &::before {
            background: url('../img/tube-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-repair {
        &::before {
            background: url('../img/roller-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-house {
        &::before {
            background: url('../img/house-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-gear {
        &::before {
            background: url('../img/gear-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-zoo {
        &::before {
            background: url('../img/zoo-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-tent {
        &::before {
            background: url('../img/tent-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-kids {
        &::before {
            background: url('../img/stroller-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-oven {
        &::before {
            background: url('../img/oven-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-tech {
        &::before {
            background: url('../img/laptop-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__link-risk {
        &::before {
            background: url('../img/risk-icon.svg') no-repeat;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &__widget {
        display: none;
    }

    &__banners {
        display: none;
    }

}

@media (min-width: 768px) {
    .main {
        &__slider {
            .glide__bullets {
                display: block;
                left: auto;
                right: 0;
            }

            .glide__bullet {
                height: 12px;
                width: 12px;
                border: none;
                transition: none;
                background-color: $searchBg;

                &--active {
                    background-color: $topRed;
                }
            }
        }

        &__container {
            flex-direction: row;
            flex-wrap: wrap;
        }

        &__content {
            order: 2;
            max-width: 63%;
            margin: 0 auto;
            position: relative;
        }

        &__menu {
            display: none;
        }

        &__links {
            margin-top: 15px;
        }

        &__links-mobile {
            display: none;
        }

        &__link {
            a {
                display: block;
            }

            &:hover {
                background-color: $searchBg;

                .main__link-headlink {
                    color: $topRed;
                }
            }
        }

        &__sidebar {
            order: 1;
            width: 258px;
            margin-right: 15px;
        }

        &__links-desktop {
            display: block;
        }

        &__widget {
            display: block;
            background-color: $white;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: flex-end;
                list-style: none;
                padding: 0;
                margin: 0;
            }

            li {
                flex-basis: 20%;
                margin: 10px;
            }

            img {
                width: 50px;
                height: auto;
                transition-duration: 500ms;
                transition-property: opacity;
                filter: contrast(90%);

                &:hover {
                    opacity: .75;
                }
            }

            .main__icon-payment {
                width: 80px;
            }

            .main__icon-battery {
                width: 55px;
            }

            .main__icon-tyres {
                width: 65px;
            }

            .main__icon-oil {
                width: 85px;
            }

            .main__icon-carpet {
                width: 70px;
            }

            .main__icon-stuff {
                width: 75px;
            }
        }

        &__banners {
            margin: 15px 0;
            display: flex;
            flex-direction: column;
        }

        &__banner-small {
            display: none;
        }

        &__banner-big {
            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
            }
        }
    }
}

@media (min-width: 1024px) {
    .main {
        &__content {
            max-width: 72%;
        }

        &__widget {
            li {
                flex-basis: 10%;
                margin: 0;
            }
        }

        &__banners {
            margin: 15px 0;
            display: flex;
            flex-direction: row;
        }

        &__banner-small {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 36%;
            margin-right: 20px;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
            }
        }

        &__banner-big {
            flex-basis: fill;

            img {
                width: 100%;
                height: auto;
                border-radius: 8px;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
            }
        }
    }
}