.top {
    background-color: $topGrey;
    position: relative;
    z-index: 2;

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 12px 25px;
    }
    
    &__link {
        color: $white;
        text-decoration: none;
        font-size: px-to-rem(13px);
        line-height: px-to-rem(15px);

        &:hover {
            color: darken($white, 10%);
            text-decoration: underline;
        }
    }

    &__login {
        padding-right: 10px;
    }
    

    &__cart {
        position: relative;
        padding-right: 10px;

        a {
            &::before {
                content: '';
                background: url('../img/cart.svg') no-repeat;
                background-size: 24px 18px;
                width: 24px;
                height: 18px;
                position: absolute;
                top: 50%;
                left: -32px;
                transform: translateY(-50%);
            }
        }
    }

    &__counter {
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translateY(-45%);
        background-color: $topRed;
        border-radius: 50%;
        font-size: px-to-rem(12px);
        line-height: px-to-rem(20px);
        width: 20px;
        height: 20px;
        text-align: center;
    }
}

@media (min-width: 425px) {
    .top {

        &__wrap {
            justify-content: flex-start;
        }

        &__register {
            margin-right: 40px;
        }

        &__cart {
            margin-left: auto;
            padding-right: 25px;
        }

        &__counter {
            right: -5px;
        }
    }
}

@media (min-width: 768px) {
    .top {
        background-color: transparent;
        box-shadow: inset 0px 15px 0 -10px $topGrey;

        &__wrap {
            background-color: $topGrey;
            width: 400px;
            margin: 0;
            margin-left: auto;
            border-bottom-left-radius: 40px;
        }
        
        &__register {
            margin-left: 25px;
        }
    }
}